.PRODUCT{
    display:inline-block;
    /* flex-wrap: nowrap; */
    justify-content:space-between;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 16px;
    margin-right: 16px;
}